html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 1fr 3.5fr 4.5fr;
    grid-template-areas: "sidebar dashboard rightbar"
        "sidebar account rightbar"
        "sidebar orders rightbar"
    ;
}

.cont-side-bar {
    display: grid;
    grid-template-rows: 7fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 5fr;
    height: 100%;
    background-color: #10113f;
}

.icon {
    width: 25px;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-bottom: 30px;
}

.picture {
    display: flex;  
    height: 70%;
    width: 30%;
}

.photo {
    flex-grow: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.picture img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 60px;
}

.username {
    font-size: 20px;
}

.email {
    font-size: 15px;
}

.side-bar {
    grid-area: sidebar;
    color: white;
}

.dashboard-search {
    background-color: blueviolet;
    grid-area: dashboard;
}

.my-account {
    background-color: chocolate;
    grid-area: account;
}

.manage-orders {
    background-color: cyan;
    grid-area: orders;
}

.right-bar {
    background-color: darkblue;
    grid-area: rightbar;
}

.dashboard,
.profile,
.chat,
.deposit,
.ticket,
.transaction,
.password,
.sign-out {
    display: flex;
    align-items: center;
    padding-left: 70px;
    font-size: 20px;
    gap: 20px;
}

.trans,
.tick,
.dep {
    width: 130px;
}


