html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 1fr 3.5fr 4.5fr;
    grid-template-areas: "sidebar dashboard rightbar"
        "sidebar account rightbar"
        "sidebar orders rightbar"
    ;
}

.cont-side-bar {
    display: grid;
    grid-template-rows: 6fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 6fr;
    height: 100%;
}

.icon {
    width: 25px;
}

.image {
    background-color: blue;
}

.dashboard {
    background-color: yellow;
    
}

.profile {
    background-color: red;
}

.chat {
    background-color: brown;
}

.deposit {
    background-color: aqua;
}

.ticket {
    background-color: orange;
}

.transaction {
    background-color: chocolate;
}

.password {
    background-color: pink;
}

.sign-out {
    background-color: purple;
}

.side-bar {
    background-color: green;
    grid-area: sidebar;
}

.dashboard-search {
    background-color: blueviolet;
    grid-area: dashboard;
}

.my-account {
    background-color: chocolate;
    grid-area: account;
}

.manage-orders {
    background-color: cyan;
    grid-area: orders;
}

.right-bar {
    background-color: darkblue;
    grid-area: rightbar;
}

.dashboard,
.profile,
.chat,
.image,
.deposit,
.ticket,
.transaction,
.password,
.sign-out {
    display: flex;
    align-items: center;
    padding-left: 70px;
    font-size: 20px;
    gap: 20px;
}

.trans,
.tick,
.dep {
    width: 130px;
}
